@font-face
{
font-family: accordAlt;
src: url(../fonts/AccordAlt_Medium.otf);
}
.bgfade{
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.95);
	position:absolute;
	z-index:100;
	display:none;	
}
.ph{
	font-weight:100;
	font-size:120px;
	font-family: accordAlt;
	letter-spacing: -1px;
	text-transform: uppercase;
	padding-bottom:10px;
	text-align:center;
	color:white;
	border-bottom: 3px solid white;
}
h1{
	font-weight:100;
}
.h2{
	color:#3c3c3c;
	font-size:2em;
	letter-spacing:0.1rem;
	line-height:1.1em;
	font-weight:200;
	font-family: accordAlt;
}
.nopadd{
	padding:0px !important;
}
.nopaddt{
	padding-top:0px !important;
	padding-bottom:0px !important;
	
}
h1.red{
	font-weight:100;
	font-family: "vollkorn", cambria, georgia, serif;
	color:#bf1522;
	text-transform:uppercase;
	font-family: accordAlt;
}
.borders{
	height:20px;	
	border-top: 3px solid white;
}
.bl{
	border-left:1px solid #d8d8d8;
	height:100%;
}
.sp1{
	font-weight:200;
	font-size:20px;
}
.fs{
	font-weight:100;
	font-size:18px;
	font-family: accordAlt;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding-bottom:10px;
	text-align:center;
	color:white;
	margin-top:70px;
}
.page1{
	background:white;
	padding:80px 0px;
}
.page2{
	padding:80px 0px;
	background:url(../img/Nymi.jpg);
	background-size:cover;
	background-position:center center;
	font-family: "vollkorn", cambria, georgia, serif;
	
}
.page2Story{
	padding:100px 0px;
	background:url(../img/Nymi.jpg);
	background-size:cover;
	background-position:center center;
	font-family: "vollkorn", cambria, georgia, serif;
	
}
.page3{
	padding:80px 0px;
	background:#efefef;
}
.s_center{
	text-align:center;
}
.buffer2em{
	padding:2em 0em;
}
.logo_title{
	width:550px;
	background:rgba(255,255,255,0.6);
}

.e_img{
	border-radius:5px;
}
a.custom1{
	color:#bf1522;
	font-size:14px;
	
}
section.border{
	border-bottom:1px solid #d8d8d8;
	margin:0px 40px;
}
.top_nav{
	color:#bf1522;
	font-size:18px;
	font-weight:200;
	border-bottom:2px solid transparent;
	-web-transition: border 0.3s ease-in-out;
	-moz-transition: border 0.3s ease-in-out;
	-o-transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
}
.top_nav:hover{
	border-bottom:2px solid #bf1522;
	cursor:pointer;
	cursor:hand;
	-web-transition: border 0.3s ease-in-out;
	-moz-transition: border 0.3s ease-in-out;
	-o-transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
}
a.custom2{
	background:#bf1522;
	font-size:18px;
	color:white;
	padding:8px 24px;
		-web-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;
	
}
a.custom2:hover{
	background:#3c3c3c;
	-web-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.wwa{
	color:#bf1522;
	font-size:40px;
	font-family: accordAlt;
	text-transform:uppercase;
}
.sub_h1{
	color:white;
	font-weight:100;
	font-size:24px;
	margin-top:10px;
	text-align:center;
	font-family: accordAlt;
	position:absolute;
	width:100%;
}
.sub_h2{
	margin-top:225px;
	position:absolute;
	width:100%;
	color:white;
	font-weight:100;
	font-size:18px;
	padding:0px 10px;
	text-align:center;
	font-family: accordAlt;
}
.img_h{
	height:95px;
	
}
.img_s{
	position:absolute;
	margin-top:45px;
	width:100%;
}
.sub_h_img{
	width:150px;
	height:150px;
	border-radius:100%;
	font-size:35px;
	color:#fff;
	text-align:center;
	background:#3c3c3c;
	margin: 0 auto;
}
p.p1{
	font-size:20px;
	text-align:center;
	font-family: accordAlt;	
	color:#3c3c3c;
	line-height:25px;
	width:90%;
	margin:0 auto;
}
.p2{
	color:#333;
	font-weight:200;
	font-size:18px;
	
}
.video_place{
	width:100%;
	height:14em;
	background:black;
}
.video_place img{
	padding-top:27px;
}
.video_title{
	color:#333;
	margin-top:10px;
	font-size:18px;
	font-weight:100;
}
.footer{
	background:#3c3c3c;
	padding:30px 0px;
}
div.f_box {
padding: 30px;
}
.f_top {
padding: 5px 0px;
border-bottom: 1px dotted white;
color:white;
}
div.sub_text4Footer {
padding: 20px 0px;
text-align: left;
font-weight: 100;
line-height: 1.4em;
font-size: 0.8em;
letter-spacing: 0.04em;
}
ul.f_list {
margin: 0px;
padding: 0px;
}
ul.f_list li {
list-style-type: none;
padding: 0px 0px;
font-size: 14px;
}

ul.f_list  a {
color: white;
font-weight: 400;
text-decoration: none;
line-height: inherit;
}
.social_links{
	margin-top:15px;
}
div.social_links img {
width: 16px;
margin-right: 10px;
opacity: 1;
display: inline-block;
}
.sponsor_img{
	height:90px;
	-webkit-filter: grayscale(0%);
	       -moz-filter: grayscale(100%);
	         -o-filter: grayscale(100%);
	        -ms-filter: grayscale(100%);
	            filter: grayscale(100%);
}

#video_pop{
	z-index:200;
	text-align:center;
	display:none;
}
.play_button{
	width: 50px;
	position: absolute;
	margin: 87px 0px 0px 126px;
}
.play_video:hover{
	cursor:pointer;
	cursor:hand;
}
.static_full{
	min-height:100%;f
	width:100%;
	background:#bf1522;
	text-align:center;
	padding-top:40px;
}
.s_logo{
	border:5px solid white;
	border-radius:100%;
	background:transparent;
	padding:15px;
	width:90px;
	height:90px;
	line-height:50px;
	margin:0 auto;
}
.wwa_s{
	position:relative;
	padding:20px 0px;
	overflow:hidden;
	height:220px;

}
.content{
	overflow-y:scroll;
}
.sponsor_med{
	max-width:19%;min-width:19%;display:inline-block;text-align:center;
}